.main {
    padding: 20px;
    overflow: hidden;
    /*height: calc(100% - 180px);*/
    border: 1px solid greenyellow;
}
hr {
    height: 1.3px;
    background: #bbb;
    background-image: -webkit-linear-gradient(left, #777, #eee, #eee);
}
.content {
    display: inline-block;
    width: 80%;
    border: 1px solid red;
    /*height: 100%;*/
    background-color: white;
    padding: 30px;
}
.sidebar {
    display: inline-block;
    float: right;
    width: 19.5%;
    /*height: 100%;*/
    border: 1px blueviolet solid;
    background-color: green;
}
.main-content {
    padding: 20px;
    width: 100%;
    background: whitesmoke;
    box-shadow: 10px 0px 100px #000;
    /*height: 100%;*/
    max-width: 700px;
    margin: 0 auto;
    overflow: hidden;
}
.register-content {
    border: 2px solid red;
    background-color: white;
}
.member-content {
    border: 2px solid black;
    background-color: white;
}
.login-area {
    width: 100%;
    border: 1px black solid;
    padding: 20px;
}
.todo-day {
    padding: 10px;
}
.monkey-max-width {
    max-width: 1400px;
    margin: 0 auto;
}
.register-max-width {
    margin: 0 auto;
    overflow: hidden;
    max-width: 700px;
}
.alert {
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

#modal-setting {
    margin-top: 10px;
    width: 100%;
}
#member-icon-round {
    vertical-align: bottom;
    background: white;
    border-radius: 50%;
    border: 2px black solid;
    width: 80px;
}
#member-icon-square {
    vertical-align: bottom; background: white; border: 2px black solid; margin-left: 10px;
    width: 200px;
}